html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
    color: black;
 
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}
img{
    width: 150px;
    margin: 0 auto;
}

input {
    color: black;
    background-color: #80ed99;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    
}

button {
   
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #FDFDFD;
    background-color: #38a3a5;
    
}
button:hover {
    background-color: #2C497F;
    cursor: pointer;
}



ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color: #c7f9cc;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(51, 215, 223, 0.2)
}

 li:hover {
    background-color: #035764;
    cursor: pointer;
    color:white;
}

